<!doctype html>
<html>
<head>
<title>MKV Subtitle Service</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
{% include '_header.html' %}
<div class="container">
  <h1>Сервис работы с MKV</h1>
  <p>
    Добро пожаловать! Этот сервис позволяет:
    <ul>
      <li>Извлекать субтитры из MKV-файлов</li>
      <li>Конвертировать субтитры в формат .srt</li>
      <li>Просматривать и скачивать субтитры прямо из браузера</li>
    </ul>
    Перейдите на вкладку <b>Субтитры</b>, чтобы начать работу с вашим MKV-файлом.
  </p>
</div>
</body>
</html>
